<a href="https://colab.research.google.com/github/romerofernandes/power_consumption_predict/blob/main/power_consumption_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importações

###Bibliotecas

In [1]:
#Analise de dados
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
#Visualização de dados
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
#Função para colocar os valores sobre as barras nos gráficos de barras
def values_text(graf):
    for bar in graf.patches:
        graf.text(
            bar.get_x() + bar.get_width() / 2,
            bar.get_height() * 1.01,
            round(bar.get_height(),1),
            horizontalalignment='center',
            color= 'black'
            )

In [4]:
#Modelagem
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [5]:
#! pip install scikit-optimize

In [6]:
#Otimização de hiperparametros 
#Necessario instalar scikit-optimize: ! pip install scikit-optimize
#from skopt import BayesSearchCV
#from skopt.space import Integer

In [7]:
#Modelos
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

In [8]:
#Análise dos modelos
from sklearn import metrics
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

###Dados

####Dados de consumo

In [40]:
#Dados sobre o consumo de energia elétrica

df_consumption = pd.read_csv('/content/power_usage_2016_to_2020.csv', 
                             parse_dates= ['StartDate'])

In [41]:
df_consumption.head()

            StartDate  Value (kWh)  day_of_week    notes
0 2016-01-06 00:00:00        1.057            2  weekday
1 2016-01-06 01:00:00        1.171            2  weekday
2 2016-01-06 02:00:00        0.560            2  weekday
3 2016-01-06 03:00:00        0.828            2  weekday
4 2016-01-06 04:00:00        0.932            2  weekday

In [42]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StartDate    35952 non-null  datetime64[ns]
 1   Value (kWh)  35952 non-null  float64
 2   day_of_week  35952 non-null  int64
 3   notes        35952 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [43]:
#Verificando registros duplicados
print(f"Valores duplicados: {df_consumption.duplicated().sum()}")

Valores duplicados: 0

In [44]:
df_consumption.notes.unique()

array(['weekday', 'weekend', 'vacation', 'COVID_lockdown'], dtype=object)

In [45]:
df_consumption.drop(columns=['notes','day_of_week'], inplace=True)

In [47]:
df_consumption.sort_values(by='StartDate').head()

            StartDate  Value (kWh)
0 2016-01-06 00:00:00        1.057
1 2016-01-06 01:00:00        1.171
2 2016-01-06 02:00:00        0.560
3 2016-01-06 03:00:00        0.828
4 2016-01-06 04:00:00        0.932

In [48]:
#Renomeando a coluna de consumo
df_consumption.rename(columns={'Value (kWh)': 'consumption', 'StartDate':'Date'}, inplace=True)

In [49]:
df_consumption = df_consumption.groupby(df_consumption.Date.dt.date).sum().reset_index()

In [50]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1498 non-null   object
 1   consumption  1498 non-null   float64
dtypes: float64(1), object(1)
memory usage: 23.5+ KB

In [58]:
df_consumption.Date = pd.to_datetime(df_consumption.Date)

In [59]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1498 non-null   datetime64[ns]
 1   consumption  1498 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.5 KB

In [51]:
df_consumption.describe()

       consumption
count  1498.000000
mean     21.399148
std      12.635139
min       4.610000
25%      10.828750
50%      16.833500
75%      30.726250
max      78.225300

####Dados sobre o tempo

In [52]:
#Dados sobre tempo (temperatura, pressão, preciptação...)
df_weather = pd.read_csv('/content/weather_2016_2020_daily.csv', parse_dates=['Date'])

In [53]:
df_weather.head()

,Date,Day,Temp_max,Temp_avg,Temp_min,Dew_max,Dew_avg,Dew_min,Hum_max,Hum_avg,Hum_min,Wind_max,Wind_avg,Wind_min,Press_max,Press_avg,Press_min,Precipit,day_of_week
0,2016-01-06,1,85,74.8,68,74,71.4,66,100,89.4,65,21,9.5,0,29.8,29.8,29.7,0.00,2
1,2016-02-06,2,76,71.2,66,74,70.3,66,100,96.8,89,18,7.8,0,29.8,29.8,29.7,4.33,5
2,2016-03-06,3,79,72.1,68,72,70.0,68,100,93.6,72,18,4.7,0,29.8,29.8,29.7,3.18,6
3,2016-04-06,4,76,71.2,69,73,70.0,66,100,96.1,85,20,7.0,0,29.8,29.7,29.7,2.37,2
4,2016-05-06,5,82,73.8,68,72,70.0,68,100,88.7,62,17,7.7,0,29.7,29.7,29.7,0.39,4

In [54]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1552 non-null   datetime64[ns]
 1   Day          1552 non-null   int64
 2   Temp_max     1552 non-null   int64
 3   Temp_avg     1552 non-null   float64
 4   Temp_min     1552 non-null   int64
 5   Dew_max      1552 non-null   int64
 6   Dew_avg      1552 non-null   float64
 7   Dew_min      1552 non-null   int64
 8   Hum_max      1552 non-null   int64
 9   Hum_avg      1552 non-null   float64
 10  Hum_min      1552 non-null   int64
 11  Wind_max     1552 non-null   int64
 12  Wind_avg     1552 non-null   float64
 13  Wind_min     1552 non-null   int64
 14  Press_max    1552 non-null   float64
 15  Press_avg    1552 non-null   float64
 16  Press_min    1552 non-null   float64
 17  Precipit     1552 non-null   float64
 18  day_of_week  1552 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(10)
memory usage: 230.5 KB

In [60]:
df_weather.merge(df_consumption, on='Date', how='right')

,Date,Day,Temp_max,Temp_avg,Temp_min,Dew_max,Dew_avg,Dew_min,Hum_max,Hum_avg,Hum_min,Wind_max,Wind_avg,Wind_min,Press_max,Press_avg,Press_min,Precipit,day_of_week,consumption
0,2016-01-06,1,85,74.8,68,74,71.4,66,100,89.4,65,21,9.5,0,29.8,29.8,29.7,0.00,2,29.691
1,2016-01-07,1,94,84.9,76,76,74.0,72,94,71.6,51,13,5.7,0,29.9,29.9,29.8,0.00,3,43.177
2,2016-01-08,1,97,86.5,75,76,73.3,67,96,67.3,37,20,6.0,0,30.0,29.9,29.9,0.00,4,50.057
3,2016-01-09,1,96,86.2,78,75,73.3,70,88,67.1,46,13,6.3,0,29.8,29.8,29.7,0.01,5,47.363
4,2016-01-10,1,81,71.1,61,64,59.4,57,90,68.7,45,8,3.3,0,30.0,29.9,29.9,0.00,6,42.203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,2020-12-02,12,57,53.9,50,55,50.6,47,97,88.8,82,17,7.7,0,29.9,29.8,29.7,0.05,2,12.087
1494,2020-12-03,12,84,74.1,69,66,63.2,61,84,69.8,46,16,9.0,5,29.9,29.8,29.7,0.00,3,16.130
1495,2020-12-04,12,89,79.5,69,74,64.0,47,88,63.0,28,18,11.8,0,29.7,29.5,29.4,0.00,4,18.011
1496,2020-12-05,12,83,75.2,67,70,65.4,61,87,72.2,54,24,13.4,0,29.9,29.9,29.8,0.00,5,15.777
1497,2020-12-06,12,91,79.8,67,61,59.0,57,76,50.8,34,16,7.5,0,30.1,30.1,30.0,0.00,6,34.504

In [61]:
df_cons_pred = df_weather.merge(df_consumption, on='Date', how='right')

In [62]:
df_cons_pred.isnull().sum()

Date           0
Day            0
Temp_max       0
Temp_avg       0
Temp_min       0
Dew_max        0
Dew_avg        0
Dew_min        0
Hum_max        0
Hum_avg        0
Hum_min        0
Wind_max       0
Wind_avg       0
Wind_min       0
Press_max      0
Press_avg      0
Press_min      0
Precipit       0
day_of_week    0
consumption    0
dtype: int64

##Testes

In [76]:
df_cons_pred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1498 entries, 0 to 1497
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1498 non-null   datetime64[ns]
 1   Day          1498 non-null   int64
 2   Temp_max     1498 non-null   int64
 3   Temp_avg     1498 non-null   float64
 4   Temp_min     1498 non-null   int64
 5   Dew_max      1498 non-null   int64
 6   Dew_avg      1498 non-null   float64
 7   Dew_min      1498 non-null   int64
 8   Hum_max      1498 non-null   int64
 9   Hum_avg      1498 non-null   float64
 10  Hum_min      1498 non-null   int64
 11  Wind_max     1498 non-null   int64
 12  Wind_avg     1498 non-null   float64
 13  Wind_min     1498 non-null   int64
 14  Press_max    1498 non-null   float64
 15  Press_avg    1498 non-null   float64
 16  Press_min    1498 non-null   float64
 17  Precipit     1498 non-null   float64
 18  day_of_week  1498 non-null   int64
 19  consumption  1498 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(10)
memory usage: 245.8 KB

In [72]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

In [83]:
X = df_cons_pred.drop(columns=['consumption', 'Date'])
y = df_cons_pred.consumption

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)

In [70]:
LM = LinearRegression()

In [71]:
LM.fit(X_train, y_train)

LinearRegression()

In [73]:
r2_score(y_test, LM.predict(X_test))

0.5902556596003716

In [81]:
RFR = RandomForestRegressor()

In [82]:
RFR.fit(X_train, y_train)

RandomForestRegressor()

In [84]:
r2_score(y_test, RFR.predict(X_test))

0.740506551585453