<a href="https://colab.research.google.com/github/romerofernandes/power_consumption_predict/blob/main/power_consumption_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importações

###Bibliotecas

In [ ]:
#Analise de dados
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
#Visualização de dados
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
#Função para colocar os valores sobre as barras nos gráficos de barras
def values_text(graf):
    for bar in graf.patches:
        graf.text(
            bar.get_x() + bar.get_width() / 2,
            bar.get_height() * 1.01,
            round(bar.get_height(),1),
            horizontalalignment='center',
            color= 'black'
            )

In [ ]:
#Modelagem
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [ ]:
#! pip install scikit-optimize

In [ ]:
#Otimização de hiperparametros 
#Necessario instalar scikit-optimize: ! pip install scikit-optimize
#from skopt import BayesSearchCV
#from skopt.space import Integer

In [ ]:
#Modelos
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

In [ ]:
#Análise dos modelos
from sklearn import metrics
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

###Dados

####Dados de consumo

In [323]:
#Dados sobre o consumo de energia elétrica

df_consumption = pd.read_csv('/content/power_usage_2016_to_2020.csv', 
                             parse_dates= ['StartDate'])

In [310]:
df_consumption.head()

            StartDate  Value (kWh)  day_of_week    notes
0 2016-01-06 00:00:00        1.057            2  weekday
1 2016-01-06 01:00:00        1.171            2  weekday
2 2016-01-06 02:00:00        0.560            2  weekday
3 2016-01-06 03:00:00        0.828            2  weekday
4 2016-01-06 04:00:00        0.932            2  weekday

In [311]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StartDate    35952 non-null  datetime64[ns]
 1   Value (kWh)  35952 non-null  float64
 2   day_of_week  35952 non-null  int64
 3   notes        35952 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [312]:
#Verificando registros duplicados
print(f"Valores duplicados: {df_consumption.duplicated().sum()}")

Valores duplicados: 0

In [313]:
df_consumption.notes.unique()

array(['weekday', 'weekend', 'vacation', 'COVID_lockdown'], dtype=object)

In [314]:
df_consumption.drop(columns=['notes','day_of_week'], inplace=True)

In [322]:
df_consumption.sort_values(by='StartDate').head(40)

              StartDate  consumption
0   2016-01-06 00:00:00        1.057
1   2016-01-06 01:00:00        1.171
2   2016-01-06 02:00:00        0.560
3   2016-01-06 03:00:00        0.828
4   2016-01-06 04:00:00        0.932
5   2016-01-06 05:00:00        0.333
6   2016-01-06 06:00:00        0.462
7   2016-01-06 07:00:00        0.493
8   2016-01-06 08:00:00        0.325
9   2016-01-06 09:00:00        0.294
10  2016-01-06 10:00:00        0.273
11  2016-01-06 11:00:00        0.723
12  2016-01-06 12:00:00        0.426
13  2016-01-06 13:00:00        0.421
14  2016-01-06 14:00:00        0.447
15  2016-01-06 15:00:00        0.496
16  2016-01-06 16:00:00        0.523
17  2016-01-06 17:00:00        3.647
18  2016-01-06 18:00:00        3.018
19  2016-01-06 19:00:00        3.326
20  2016-01-06 20:00:00        2.175
21  2016-01-06 21:00:00        2.973
22  2016-01-06 22:00:00        2.994
23  2016-01-06 23:00:00        1.794
720 2016-01-07 00:00:00        1.572
721 2016-01-07 01:00:00        1.010
722 2016-01-07 02:00:00        1.260
723 2016-01-07 03:00:00        1.257
724 2016-01-07 04:00:00        0.921
725 2016-01-07 05:00:00        0.724
726 2016-01-07 06:00:00        0.572
727 2016-01-07 07:00:00        0.569
728 2016-01-07 08:00:00        0.347
729 2016-01-07 09:00:00        0.334
730 2016-01-07 10:00:00        0.413
731 2016-01-07 11:00:00        0.424
732 2016-01-07 12:00:00        0.319
733 2016-01-07 13:00:00        3.314
734 2016-01-07 14:00:00        5.139
735 2016-01-07 15:00:00        4.268

In [316]:
#Renomeando a coluna de consumo
df_consumption.rename(columns={'Value (kWh)': 'consumption'}, inplace=True)

In [295]:
df_consumption = df_consumption.groupby().sum().reset_index()

In [296]:
df_consumption.StartDate = pd.to_datetime(df_consumption.StartDate)

In [297]:
df_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StartDate    1498 non-null   datetime64[ns]
 1   consumption  1498 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.5 KB

In [301]:
df_consumption = df_consumption.sort_values(by='StartDate')

In [304]:
df_consumption.describe()

       consumption
count  1498.000000
mean     21.399148
std      12.635139
min       4.610000
25%      10.828750
50%      16.833500
75%      30.726250
max      78.225300

####Dados sobre o tempo

In [79]:
#Dados sobre tempo (temperatura, pressão, preciptação...)
df_weather = pd.read_csv('/content/weather_2016_2020_daily.csv')

In [84]:
df_weather.head()

,Date,Day,Temp_max,Temp_avg,Temp_min,Dew_max,Dew_avg,Dew_min,Hum_max,Hum_avg,Hum_min,Wind_max,Wind_avg,Wind_min,Press_max,Press_avg,Press_min,Precipit,day_of_week
0,2016-01-06,1,85,74.8,68,74,71.4,66,100,89.4,65,21,9.5,0,29.8,29.8,29.7,0.00,2
1,2016-02-06,2,76,71.2,66,74,70.3,66,100,96.8,89,18,7.8,0,29.8,29.8,29.7,4.33,5
2,2016-03-06,3,79,72.1,68,72,70.0,68,100,93.6,72,18,4.7,0,29.8,29.8,29.7,3.18,6
3,2016-04-06,4,76,71.2,69,73,70.0,66,100,96.1,85,20,7.0,0,29.8,29.7,29.7,2.37,2
4,2016-05-06,5,82,73.8,68,72,70.0,68,100,88.7,62,17,7.7,0,29.7,29.7,29.7,0.39,4

In [81]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1552 non-null   object
 1   Day          1552 non-null   int64
 2   Temp_max     1552 non-null   int64
 3   Temp_avg     1552 non-null   float64
 4   Temp_min     1552 non-null   int64
 5   Dew_max      1552 non-null   int64
 6   Dew_avg      1552 non-null   float64
 7   Dew_min      1552 non-null   int64
 8   Hum_max      1552 non-null   int64
 9   Hum_avg      1552 non-null   float64
 10  Hum_min      1552 non-null   int64
 11  Wind_max     1552 non-null   int64
 12  Wind_avg     1552 non-null   float64
 13  Wind_min     1552 non-null   int64
 14  Press_max    1552 non-null   float64
 15  Press_avg    1552 non-null   float64
 16  Press_min    1552 non-null   float64
 17  Precipit     1552 non-null   float64
 18  day_of_week  1552 non-null   int64
dtypes: float64(8), int64(10), object(1)
memory usage: 230.5+ KB

##Testes